{% assign current = page.url | downcase | split: '/' %}

<li{% if current[1] == 'products' %} class="dropdown active"{% endif %}>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products</a>
  <ul class="dropdown-menu">
	<li><a href="{{ site.url }}/products/">By Products</a></li>
    <li class="dropdown-submenu"><a href="#" tabindex="-1">By Industry</a>
    	<ul class="dropdown-menu">
        	<li><a href="{{ site.url }}/retail">Retail</a></li>
          <li><a href="{{ site.url }}/restaurant">Restaurant</a></li>
          <li><a href="{{ site.url }}/healthcare">Healthcare</a></li>
        </ul>
    </li>
  </ul>
</li>
<li{% if current[1] == 'services' %} class="active"{% endif %}>
  <a href="{{ site.url }}/services/">Services</a>
</li>
<li{% if current[1] == 'case-studies' %} class="active"{% endif %}>
  <a href="{{ site.url }}/case-studies/">Case Studies</a>
</li>
<li{% if current[1] == 'contact us' %} class="active"{% endif %}>
  <a href="{{ site.url }}/company/">Contact Us</a>
  <!-- Google Code for Get a Qoute Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 967396924;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "gEfFCKTPkQoQvJylzQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967396924/?label=gEfFCKTPkQoQvJylzQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</li>
<li{% if current[1] == 'blog' %} class="active"{% endif %}>
  <a href="http://blog.armoractive.com/">Blog</a>
</li>
