{% assign current = page.url | downcase | split: '/' %}

<li{% if current[1] == 'products' %} class="active"{% endif %}>
  <a href="{{ site.url }}/products/">Products</a>
</li>
<li{% if current[1] == 'services' %} class="active"{% endif %}>
  <a href="{{ site.url }}/services/">Services</a>
</li>
<li{% if current[1] == 'case-studies' %} class="active"{% endif %}>
  <a href="{{ site.url }}/case-studies/">Case Studies</a>
</li>
<li{% if current[1] == 'contact us' %} class="active"{% endif %}>
  <a href="{{ site.url }}/company/">Contact Us</a>
</li>
<li{% if current[1] == 'blog' %} class="active"{% endif %}>
  <a href="http://blog.armoractive.com/">Blog</a>
</li>