{% assign current = page.url | downcase | split: '/' %}

<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
<li{% if current[1] == 'products' %} class="active"{% endif %}>
  <a href="{{ site.url }}/products/">Products</a>
</li>
<li{% if current[1] == 'services' %} class="active"{% endif %}>
  <a href="{{ site.url }}/services/">Services</a>
</li>
<li{% if current[1] == 'case-studies' %} class="active"{% endif %}>
  <a href="{{ site.url }}/case-studies/">Case Studies</a>
</li>
<li{% if current[1] == 'contact us' %} class="active"{% endif %}>
  <a href="{{ site.url }}/company/">Contact Us</a>
</li>
<li{% if current[1] == 'blog' %} class="active"{% endif %}>
  <a href="http://blog.armoractive.com/">Blog</a>
</li>