body {
  font-family: 'Open Sans', sans-serif;
  color: #464646;
}

a {
  color: #b5bd35;
}

a:hover,
a:focus {
  color: #9aa41c;
}

/* Font Fixes
-------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

/* Brand Color Switching
-------------------------------------------------- */

.nav-pills a {
  color: #333;
}

.nav-pills > li.active >a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.btn-primary {
  background-color: #b5bd35;
}

.btn-primary {
  -webkit-transition: background 100ms ease-in;
  -moz-transition: background 100ms ease-in;
  -ms-transition: background 100ms ease-in;
  -o-transition: background 100ms ease-in;
  transition: background 100ms ease-in;
  border: 0;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #a7ae32;
}

/* Banner
-------------------------------------------------- */

.truncate {
  margin-right: 30px;
  display: inline-block;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-banner {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  margin-bottom: 0;
  font-size: 12px;
}

.navbar-banner .navbar-nav > li > a {
  font-weight: bold;
}

.navbar-banner .navbar-nav > li > a:hover {
  font-weight: bold;
  color:#b5bd35;
}

.navbar-banner .navbar-brand {
  background: url('../img/logo.png?cache=busted') center center no-repeat;
  background-size: 100%;
  margin-left: 15px;
  width: 281px;
  text-indent: -9999px;
  font-size: 0;
}

.navbar-banner .navbar-nav,
.navbar-banner .navbar-text {
  text-transform: uppercase;
}

.navbar-banner .navbar-nav > li > .dropdown-menu {
  text-transform: none;
}

.navbar-banner .navbar-nav .navbar-spacer {
  margin-left: 10px;
}

.navbar-banner .shopping-cart {
  font-size: 14px;
}

.navbar-banner .shopping-cart .dropdown-menu {
  margin-top: -1px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.navbar-banner .shopping-cart > a {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-banner .navbar-nav > li > a.navbar-phone {
  background-color: #666f76;
  color: #fff;
}

.navbar-banner .navbar-nav > li > a.navbar-phone .fa {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-text.text-muted {
  color: #999;
}

/* Footer
-------------------------------------------------- */

.navbar-footer {
  background: transparent;
  margin-top: 0;
  border-width: 0;
  border-top-width: 1px;
  margin-bottom: 0;
  font-size: 12px;
}

/* Main Container
-------------------------------------------------- */

.main-container {
}

/* Marketing Sections
-------------------------------------------------- */

.marketing-section {
}

/* Marketing Section -> Carousel
-------------------------------------------------- */

.marketing-section-carousel {
  border-bottom: 1px solid #c4c4c4;
}

.marketing-section-carousel .btn-primary {
  background-color: transparent;
  border: 1px solid  #b5bd35;
  color: #b5bd35;
-webkit-transition: background 100ms ease-in;
-moz-transition: background 100ms ease-in;
-ms-transition: background 100ms ease-in;
-o-transition: background 100ms ease-in;
transition: background 100ms ease-in;
}

.marketing-section-carousel .btn-primary:hover {
  color: #fff;
  background-color: #b5bd35;
}

.marketing-section-carousel .carousel {
  border-bottom: 1px solid #ddd;
  height: 500px;
}

.marketing-section-carousel .carousel-caption {
  padding-bottom: 80px;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  left: 10%;
  right: 10%;
}

@media (min-width: 768px) {
  .marketing-section-carousel .carousel-caption {
    padding-top: 80px;
    width: 60%;
    text-align: left;
    top: 0;
    bottom: 0;
  }
}

.marketing-section-carousel .carousel-caption h1 {
  font-size: 22px;
  text-transform: uppercase;
}

.marketing-section-carousel .carousel-caption .btn {
  margin-top: 30px;
}

.marketing-section-carousel .carousel .item {
  background-color: #000;
  height: 500px;
}

.marketing-section-carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: none;
  min-height: 500px;
  display: none;
}

@media (min-width: 768px) {
  .marketing-section-carousel .carousel-inner > .item > img {
    display: block;
  }
}

.marketing-section-carousel .carousel-caption h1 {
  margin-bottom: 35px;
  text-shadow: none;
  font-size: 50px;
}

.marketing-section-carousel .carousel-control.left,
.marketing-section-carousel .carousel-control.right {
  background: 0;
  text-shadow: none;
  width: 10%;
}

.marketing-section-carousel .carousel-control .icon-prev,
.marketing-section-carousel .carousel-control .icon-next {
  font-family: FontAwesome;
  font-size: 75px;
}

.marketing-section-carousel .carousel-control .icon-prev:before { content: "\f104"; }
.marketing-section-carousel .carousel-control .icon-next:before { content: "\f105"; }

/* Marketing Section -> Values
-------------------------------------------------- */

.marketing-section-values {
  background-color: #666f76;
  margin-top: 40px;
  padding: 20px 0 60px;
  color: #fff;
}

.marketing-section-values .page-header {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}


/* Marketing Section -> Downloads
-------------------------------------------------- */

.marketing-section-downloads {
  padding: 60px 0;
}

.marketing-section-downloads .nav li a {
  background-color: #fff;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 20px;
  font-size: 24px;
  color: #fff;
}

.marketing-section-downloads .nav li a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.marketing-section-downloads li:first-child a {
  background-color: #b5bd35;
}

.marketing-section-downloads li:last-child a {
  background-color: #464646;
}

/* Marketing Section -> Player
-------------------------------------------------- */

.marketing-section-player {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 60px 0;
  margin-bottom: 30px;
}

/* Marketing Section -> Products
-------------------------------------------------- */

.product-info-container {
  font-size: 18px;
}

/* Marketing Section -> Products
-------------------------------------------------- */

.product-details {
  font-family: 'Titillium Web', sans-serif;
}

.product-details h2 {
  font-weight: normal;
}

.product-details .text-center {
  padding: 10px;
  font-size: 28px;
}

.marketing-section-products .row {
  margin-bottom: 25px;
}

.marketing-section-products .row a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  color: #464646;
}

.marketing-section-products .row a:hover img {
  opacity: 0.9;
}

.marketing-section-products .row a:hover {
  text-decoration: none;
  color: #b5bd35;
}

.marketing-section-products .img-responsive {
  display: inline-block;
}

/* Marketing Section -> Services
-------------------------------------------------- */

.marketing-section-services {
  background: #ebebeb; /* Old browsers */
  background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  border-top: 20px solid #e2e2e2;
  margin-top: 40px;
  padding: 40px 0;
  font-size: 12px;
}

.marketing-section-services .row {
  margin-bottom: 35px;
  font-size: 16px;
}

.marketing-section-services h3 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.marketing-section-services h3 .fa {
  margin-right: 10px;
  color: #d9df20;
}

/* Jumbotron
-------------------------------------------------- */

.jumbotron {
  background-color: transparent;
}

.jumbotron p {
  font-size: 18px;
}

.jumbotron-product {
  border-bottom: 1px solid #ddd;
}

.jumbotron-page-title {
  background: url('../img/page-title-background.png') repeat-x #93989e;
  background-size: 100% auto;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.03);
  color: #fff;
}

/* YouTube
-------------------------------------------------- */

.youtube-wrapper {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 5px 5px 0;
}

/* Blog Posts
-------------------------------------------------- */

.blog-posts {
  background-color: #666f76;
  margin-top: 40px;
  padding: 50px 0 60px;
  color: #fff;
}

.blog-posts .page-header {
  border-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.blog-posts .page-header h2 {
  font-weight: normal;
}

/* Quick Fixes
-------------------------------------------------- */

.page-heading p {
  font-size: 18px;
}

.panel-body > .row:last-child p {
  margin-bottom: 0;
}

/* Retail Page
-------------------------------------------------- */

.light {
	font-weight: 300; }

.semibold{
	font-weight: 600; }
	
.green{
	color: #9aa41c !important; }

.open-sans{
	font-family:'Open Sans',sans-serif; }
	
.img-align{
	margin: 0 auto; }
	
.retail-graphic{
	border-bottom: #9aa41c solid 15px;
	background-color:#a7afb9; }
	
.retail-graphic.container-fluid{
	padding: 0; }
	
.retail-content{
	background-color: #fff;
	margin-top: 40px;
	padding: 20px 0 60px;
	color: #464646; }
	
.retail-video-section{
	background:url('../img/products/retail/AA-Retail-Page-Video-Background.jpg') center center no-repeat;
	background-size:cover;
	padding: 20px 0 60px; }

