body {
  font-family: 'Open Sans', sans-serif;
  color: #464646;
}

a {
  color: #b5bd35;
}

a:hover,
a:focus {
  color: #9aa41c;
}

/* Font Fixes
-------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

/* Brand Color Switching
-------------------------------------------------- */

.nav-pills a {
  color: #333;
}

.nav-pills > li.active >a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.btn-primary {
  background-color: #b5bd35;
}

.btn-primary {
  border: 0;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #a7ae32;
}

/* Banner
-------------------------------------------------- */

.navbar-banner {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  margin-bottom: 0;
}

.navbar-banner .navbar-nav > li > a {
  font-size: 12px;
  font-weight: bold;
}

.navbar-banner .navbar-brand {
  background: url('../img/logo.png?cache=busted') center center no-repeat;
  margin-left: 15px;
  width: 252px;
  text-indent: -9999px;
  font-size: 0;
}

.navbar-banner .navbar-nav,
.navbar-banner .navbar-text {
  text-transform: uppercase;
}

.navbar-banner .navbar-nav li:last-child {
  margin-left: 10px;
}

.navbar-banner .navbar-nav > li > a.navbar-phone {
  background-color: #666f76;
  color: #fff;
}

.navbar-banner .navbar-nav > li > a.navbar-phone .fa {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}

/* Footer
-------------------------------------------------- */

.navbar-footer {
  background: transparent;
  margin-top: 80px;
  border-width: 0;
  border-top-width: 1px;
  margin-bottom: 0;
}

/* Main Container
-------------------------------------------------- */

.main-container {
}

/* Marketing Sections
-------------------------------------------------- */

.marketing-section {
}

/* Marketing Section -> Carousel
-------------------------------------------------- */

.marketing-section-carousel {
  border-bottom: 1px solid #c4c4c4;
}

.marketing-section-carousel .btn-primary {
  background-color: transparent;
  border: 1px solid  #b5bd35;
  color: #b5bd35;
}

.marketing-section-carousel .btn-primary:hover {
  color: #fff;
}

.marketing-section-carousel .carousel {
  border-bottom: 1px solid #ddd;
  height: 500px;
}

.marketing-section-carousel .carousel-caption {
  padding-bottom: 80px;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  left: 10%;
  right: 10%;
}

@media (min-width: 768px) {
  .marketing-section-carousel .carousel-caption {
    text-align: left;
  }
}

.marketing-section-carousel .carousel-caption h1 {
  font-size: 22px;
  text-transform: uppercase;
}

.marketing-section-carousel .carousel-caption .btn {
  margin-top: 30px;
}

.marketing-section-carousel .carousel .item {
  background-color: #0d0d0d;
  height: 500px;
}

.marketing-section-carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: none;
  min-height: 500px;
}

.marketing-section-carousel .carousel-caption h1 {
  margin-bottom: 35px;
  text-shadow: none;
  font-size: 50px;
}

.marketing-section-carousel .carousel-control.left,
.marketing-section-carousel .carousel-control.right {
  background: 0;
  text-shadow: none;
  width: 10%;
}

.marketing-section-carousel .carousel-control .icon-prev,
.marketing-section-carousel .carousel-control .icon-next {
  font-family: FontAwesome;
  font-size: 75px;
}

.marketing-section-carousel .carousel-control .icon-prev:before { content: "\f104"; }
.marketing-section-carousel .carousel-control .icon-next:before { content: "\f105"; }

/* Marketing Section -> Lead Form
-------------------------------------------------- */

.marketing-section-lead-form {
  background-color: #666f76;
  margin-top: 40px;
  padding: 40px 0;
  color: #fff;
}

.marketing-section-lead-form .page-header {
  border-bottom: 0;
}


/* Marketing Section -> Downloads
-------------------------------------------------- */

.marketing-section-downloads {
  padding: 60px 0;
}

.marketing-section-downloads .nav li a {
  background-color: #fff;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 20px;
  font-size: 24px;
}

.marketing-section-downloads .nav li a:hover {
  background-color: #eee;
  text-decoration: none;
}

/* Marketing Section -> Player
-------------------------------------------------- */

.marketing-section-player {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 60px 0;
  margin-bottom: 30px;
}

/* Marketing Section -> Products
-------------------------------------------------- */

.product-specifications {
  font-family: 'Titillium Web', sans-serif;
}

.product-specifications h2 {
  font-weight: normal;
}

.product-specifications .text-center {
  padding: 10px;
  font-size: 28px;
}

.marketing-section-products .row {
  margin-bottom: 25px;
}

.marketing-section-products .row a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  color: #464646;
}

.marketing-section-products .row a:hover img {
  opacity: 0.9;
}

.marketing-section-products .row a:hover {
  text-decoration: none;
  color: #b5bd35;
}

.marketing-section-products .img-responsive {
  display: inline-block;
}

/* Marketing Section -> Services
-------------------------------------------------- */

.marketing-section-services {
  background: #ebebeb; /* Old browsers */
  background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  border-top: 20px solid #e2e2e2;
  margin-top: 40px;
  padding: 40px 0;
  font-size: 12px;
}

.marketing-section-services .row {
  margin-bottom: 35px;
}

.marketing-section-services h3 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
}

.marketing-section-services h3 .fa {
  margin-bottom: 10px;
  display: block;
  color: #d9df20;
}

/* Jumbotron
-------------------------------------------------- */

.jumbotron {
  background-color: transparent;
}

.jumbotron p {
  font-size: 18px;
}

.jumbotron-product {
  border-bottom: 1px solid #ddd;
}

.jumbotron-page-title {
  background: url('../img/page-title-background.png') repeat-x #93989e;
  background-size: 100% auto;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.03);
  color: #fff;
}

/* YouTube
-------------------------------------------------- */

.youtube-wrapper {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 5px 5px 0;
}

/* Quick Fixes
-------------------------------------------------- */

.page-heading p {
  font-size: 18px;
}