<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ page.title }} - ArmorActive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900">

  <link rel="stylesheet" href="{{ site.url }}/assets/libs/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/libs/ekko-lightbox/0.0.1/ekko-lightbox.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/libs/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css?{{ site.time | date: "%Y%m%d%g%m%s" }}">
<meta name="google-site-verification" content="CTX56cAZJI8V8S-RKlXYYJzi8FYJGKc9kFqPthr3i-c" />
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52308545-1', 'auto');
  ga('send', 'pageview');

</script>
  <nav class="navbar navbar-static-top navbar-default navbar-banner" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.url }}/">ArmorActive</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% include nav.html %}
          <li class="navbar-spacer">
            <a href="tel:18016533807" class="navbar-phone">
              <i class="fa fa-phone"></i> +1 (801) 653-3807
            </a>
          </li>
          <li class="dropdown active shopping-cart">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i></a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="#">No items have been added</a></li>
              <li class="divider"></li>
              <li><a href="#">Request Quote</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main-container" role="main">

    {{ content }}

  </div>

  <footer class="blog-posts">
    <div class="container">
      <div class="page-header">
        <h2><i class="fa fa-archive"></i> Latest Blog News</h2>
      </div>
      <div class="row blog-posts-loading">
        <p class="text-center">Loading posts...</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 blog-posts-0">
        </div>
        <div class="col-lg-6 col-md-6 blog-posts-1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 blog-posts-2">
        </div>
        <div class="col-lg-6 col-md-6 blog-posts-3">
        </div>
      </div>
    </div>
  </footer>

  <nav class="navbar navbar-default navbar-footer" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text text-muted">&copy; {{ site.time | date: '%Y' }} ArmorActive, Inc.</p>
        <ul class="nav navbar-nav">
          {% include nav.html %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/ArmorActive"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/armoractive"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://www.linkedin.com/company/armoractive"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <script src="{{ site.url }}/assets/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ site.url }}/assets/libs/jquery-cookie/1.4.1/jquery-cookie.js"></script>
  <script src="{{ site.url }}/assets/libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/assets/libs/ekko-lightbox/0.0.1/ekko-lightbox.min.js"></script>
  <script src="{{ site.url }}/assets/libs/jfeed/2.0.0/jquery.jfeed.js"></script>

  <script src="{{ site.url }}/assets/js/main.js?{{ site.time | date: "%Y%m%d%g%m%s" }}"></script>
  <script src="{{ site.url }}/assets/js/cart.js?{{ site.time | date: "%Y%m%d%g%m%s" }}"></script>

  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('9808-609-10-9272');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9808-609-10-9272/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->

</body>
</html>
